In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
os.getcwd()

'/home/hdap/Documents/maestria_unir/practicas/data_david/nutricional'

In [2]:
leer = False

In [3]:
if leer: 
    anos = ['2003-2004', '2005-2006', '2007-2008', '2009-2010', '2011-2012', '2013-2014','2015-2016', '2017-2018']
    
    extensiones = ['DR1IFF_C.XPT', 'DR1IFF_D.XPT','DR1IFF_E.XPT','DR1IFF_F.XPT','DR1IFF_G.XPT','DR1IFF_H.XPT', 'DR1IFF_I.XPT', 'DR1IFF_J.XPT']
    
    
    archivos = []
    
    for f,j in zip(anos, extensiones):
        path = 'https://wwwn.cdc.gov/Nchs/Nhanes/{}/{}'.format(f,j)
        print(path)
        archivo = pd.read_sas(path, format='xport', encoding='utf-8')
        archivos.append(archivo)
    
    pd_ = pd.concat(archivos, sort='False', ignore_index='True')
    pd_.to_csv('./individual_food_d1.csv', header = True, sep = '|', index = False)

In [4]:
pd_if_d1 = pd.read_csv('./individual_food_d1.csv', sep = '|')
pd_if_d1['SEQN'] = pd_if_d1['SEQN'].astype(int)
pd_if_d1.shape

(1337703, 171)

In [5]:
print([c for c in pd_if_d1.columns if 'WTDRD' in c])

['WTDRD1']

In [6]:
pd_if_d1.dtypes.value_counts()

float64    170
int64        1
dtype: int64

In [7]:
pd_if_d1.SEQN.value_counts().min(), pd_if_d1.SEQN.value_counts().max()

(1, 61)

In [8]:
conteos = pd_if_d1.describe().T[['count']]

In [9]:
conteos[conteos['count'] < 1337703*0.7]

             count
DR1DBIH   778886.0
DR1ICHL   929624.0
DR1IVD    783798.0
DR1MC     701301.0
DRALANG   269588.0
...            ...
DRXIVE    127147.0
DRXIVK    141931.0
DRXIWATE  127147.0
DRXIZINC  269078.0
WTDR4YR   269740.0

[90 rows x 1 columns]

In [10]:
pd_if_d1_agg = pd_if_d1.groupby('SEQN').agg('mean')
pd_if_d1_agg.shape

(89440, 170)

In [11]:
conteos_agg = pd_if_d1_agg.describe().T[['count']]
conteos_agg[conteos_agg['count'] < pd_if_d1_agg.shape[0]*0.7]

            count
DR1DBIH   51656.0
DR1ICHL   61435.0
DR1IVD    52119.0
DR1MC     45909.0
DRALANG   18638.0
...           ...
DRXIVE     8816.0
DRXIVK     9839.0
DRXIWATE   8816.0
DRXIZINC  18655.0
WTDR4YR   18608.0

[90 rows x 1 columns]

In [12]:
pd_if_d1_agg = pd_if_d1_agg.drop(columns = ['DRDINT', 'WTDR2D'])
pd_if_d1_agg.to_csv('./pd_if_d1_agg.csv', header = True, sep = '|', index = True)