In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [2]:
os.getcwd()

'/home/hdap/Documents/maestria_unir/practicas/data_david/nutricional'

In [3]:
leer = False

In [4]:
if leer:
    anos = ['2003-2004', '2005-2006', '2007-2008', '2009-2010', '2011-2012', '2013-2014','2015-2016', '2017-2018']
    
    extension = ['DR2TOT_C','DR2TOT_D','DR2TOT_E','DR2TOT_F','DR2TOT_G','DR2TOT_H','DR2TOT_I','DR2TOT_J','DR2TOT_K']
    
    archivos = []
    
    for f,j in zip(anos,extension):
        path = 'https://wwwn.cdc.gov/Nchs/Nhanes/{}/{}.XPT'.format(f, j)
        print(path)
        archivo = pd.read_sas(path, format='xport', encoding='utf-8')
        archivos.append(archivo)
    
    pd_ = pd.concat(archivos, sort='False', ignore_index='True')
    pd_.to_csv('./total_nutrientes_d2.csv', header = True, sep = '|', index = False)

In [5]:
pd_nut_d2 = pd.read_csv('./total_nutrientes_d2.csv', sep = '|')
pd_nut_d2['SEQN'] = pd_nut_d2['SEQN'].astype(int)
print(pd_nut_d2.shape)
print(pd_nut_d2.dtypes.value_counts())
print(pd_nut_d2.SEQN.value_counts().min(), pd_nut_d2.SEQN.value_counts().max())
conteos = pd_nut_d2.describe().T[['count']]
print(conteos[conteos['count'] < 77007*0.7])

(77007, 92)
float64    91
int64       1
dtype: int64
1 1
            count
DR2BWATR   8394.0
DR2BWATZ  53518.0
DR2CWATR   8406.0
DR2DBIH   44923.0
DR2HELP   13661.0
DR2HELPD  48094.0
DR2MNRSP  48144.0
DR2MRESP  13666.0
DR2SKY     3131.0
DR2STY    21400.0
DR2TCHL   52593.0
DR2TVD    44329.0
DR2TWS    52365.0
DR2TWSZ    6714.0
DR2_320    8364.0
DR2_320Z  53518.0
DR2_330    8374.0
DR2_330Z  53518.0

In [6]:
pd_nut_d2_agg = round(pd_nut_d2.groupby('SEQN',as_index = False).agg('sum'),2)

In [7]:
pd_nut_d2_agg.SEQN.value_counts().min(), pd_nut_d2_agg.SEQN.value_counts().max()

(1, 1)

In [8]:
pd_nut_d2_agg = pd_nut_d2.groupby('SEQN').agg('mean')
print(pd_nut_d2_agg.shape)


conteos_agg = pd_nut_d2_agg.describe().T[['count']]
conteos_agg[conteos_agg['count'] < pd_nut_d2_agg.shape[0]*0.7]

(77007, 91)

            count
DR2BWATR   8394.0
DR2BWATZ  53518.0
DR2CWATR   8406.0
DR2DBIH   44923.0
DR2HELP   13661.0
DR2HELPD  48094.0
DR2MNRSP  48144.0
DR2MRESP  13666.0
DR2SKY     3131.0
DR2STY    21400.0
DR2TCHL   52593.0
DR2TVD    44329.0
DR2TWS    52365.0
DR2TWSZ    6714.0
DR2_320    8364.0
DR2_320Z  53518.0
DR2_330    8374.0
DR2_330Z  53518.0

In [9]:
pd_nut_d2_agg = pd_nut_d2_agg.drop(columns = ['DRDINT', 'WTDRD1'])
pd_nut_d2_agg.to_csv('./total_nutrientes_d2_agg.csv', header = True, sep = '|')